<link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@9/swiper-bundle.min.css" />
<style > :root
{
  --swiper-navigation-color: #000000;
  --swiper-pagination-color: #161616;
}
.ContenedorArrows {
  width: 100%;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 10;
}
i {
  font-size: 1.4rem;
}
.SwiperBanner {
  width: 100%;
}
.SlideBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  padding-bottom: 30px;
}
.ArrowBtn {
  color: white;
  background: #000000;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 1rem;
}
.ArrowBtn:hover {
  background: #282828;
}
.ImgSliderBannerTel {
  display: none;
}

.ImgSliderBanner {
  width: 100%;
}

/* Estilo para el contenedor de la imagen y el texto */
.image-container {
  position: relative; /* Establece la posición relativa para que los elementos hijos puedan posicionarse de forma absoluta con respecto a este contenedor */
}


/* Estilo para el texto superpuesto */
.text-overlay {
 position: absolute;
  top: 50%; /* Coloca el centro vertical del texto en el centro vertical del contenedor */
  left: 50%; /* Coloca el centro horizontal del texto en el centro horizontal del contenedor */
  transform: translate(-50%, -50%); /* Centra el texto correctamente */
  color: white;
  padding: 10px;
  font-size: 16px;
  text-align: center; /* Centra el texto horizontalmente */
  width:100%;
}

/* Estilo para el enlace (opcional) */


  .text-overlay h1 {
    font-size:64px;
    color:white;
  }

   .text-overlay a {
     text-decoration:none;
     color:white;
     font-size:18px;
   }

  
  
@media screen and (max-width: 760px) {
  .Btn_template {
    border-radius: 3px;
    width: 100px;
    text-decoration: none;
    color: white;
    padding: 0.2rem 0;
    font-size: 0.8rem;
    font-weight: 200;
    text-align: center;
    border: none;
  }

  .ImgSliderBanner {
    display: none !important;
  }
  .ImgSliderBannerTel {
    display: flex;
    width: 100%;
  }
  .ContenedorArrows {
    display: none;
  }
  .text-overlay h1 {
    font-size:42px;
  }
}
</style><!-- Swiper --><div style="" class="swiper SwiperBanner">
<div class="swiper-wrapper">
  {% for block in section.blocks %}
    <div class="swiper-slide SlideBanner">
  
    <div class="image-container">
      <img class="ImgSlider ImgSliderBanner" src="{{ block.settings.ImgBannerDesk| img_url: '4000x' }}" alt="Descripción de la imagen para accesibilidad" />
      <img class="ImgSlider ImgSliderBannerTel" src="{{ block.settings.ImgBannerMov | img_url: '4000x' }}" alt="Descripción de la imagen para accesibilidad" />
    </div>
    <div class="text-overlay">
     <h1> {{  block.settings.text-header }}</h1>
    <a href="{{  block.settings.link }}"> {{  block.settings.btn-text }} </a>
    </div>
 
</div>

  {% endfor %}
</div>
<div class="ContenedorArrows">
  <div class="button-prev ArrowBtn">
    <i class='bx bx-chevron-left'></i>
  </div>
  <div class="button-next ArrowBtn">
    <i class='bx bx-chevron-right'></i>
  </div>
</div>
<div class="swiper-pagination"></div></div><!-- Swiper JS --><script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script><!-- Initialize Swiper --><script>
var swiper = new Swiper(".SwiperBanner", {
  loop: true,
  pagination: {
    el: ".swiper-pagination",
    dynamicBullets: true
  },
  navigation: {
    nextEl: ".button-next",
    prevEl: ".button-prev"
  },
  autoplay: {
    delay: 4500,
    disableOnInteraction: false
  }
});
</script>{% schema %}
{
  "name": "SliderBanner",
  "class": "SliderBanner",
  "settings": [],
  "blocks": [
    {
      "type": "image",
      "name": "Banner",
      "settings": [
        {
          "type": "image_picker",
          "id": "ImgBannerDesk",
          "label": "Imagen Desktop"
        }, {
          "type": "image_picker",
          "id": "ImgBannerMov",
          "label": "Imagen Teléfono"
        }, 
    {
           "type": "text",
          "id": "text-header",
          "label": "Texto" 
        },
        {
          "type": "header",
          "content": "Botón"
        },    {
          "type": "text",
          "id": "btn-text",
          "label": "Boton",
          "default":"SHOP NOW"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Link"
        }
      
      ]
    }
  ],
  "presets": [
    {
      "name": "Slider-Banner",
      "blocks": []
    }
  ]
}
{% endschema %}